.header {
	padding: 16px 0;
	border: 1px solid var(--form, #EEEFF2);

	&__container{
		display: grid;
		gap: 16px;
		grid-template-areas:
			'logo control'
			'search search';
		align-items: center;

		@media (min-width: 820px) {
			grid-template-areas: 'logo search control';
			grid-template-columns: 94px 1fr auto;
			align-items: center;
		}
	}

  &__logo {
		grid-area: logo;
  }

  &__search {
		grid-area: search;
		position: relative;
		width: 100%;
		height: 38px;
		
    &-text {
			width: 100%;
			height: 100%;
			border-radius: 32px;
			background: var(--form, #EEEFF2);
			line-height: 1.2;
			padding: 0 50px 0 24px;
			border: none;

				&::placeholder {
					color: #969EAE;
					font-size: 12px;
					line-height: 1.2;
				}

				&:focus-visible,
				&:hover {
					outline: 1px solid #dfe3eb;
				}
    }

    &-btn {
			position: absolute;
			top: 50%;
			right: 24px;
			transform: translateY(-50%);
			color: var(--, #1C1C1C);
			border-radius: 4px;
			outline-offset: 4px;
			outline: 1 px solid transparent;

			&:hover,
			&:active,
			&:focus-visible {
				color: var(--violet, #780096);
			}

			&:focus-visible {
				outline-color: var(--violet, #780096);
			}
    }

		@media (min-width: 820px) {
			width: 408px;
			justify-self: center;
		}

		@media (min-width: 1120px) {
			width: 514px;
		}
  }

  &__control {
		grid-area: control;
		justify-content: end;
		display: flex;
		align-items: center;
		gap: 16px;
  }

  &__link {
		display: flex;
		align-items: center;
		gap: 4px;

		&-text {
			display: none;

			@media (min-width: 580px) {
				display: block;
			}
  	}

  	&-count {
			order: 1;

			@media (min-width: 580px) {
				order: 0;
			}
  	}
  }

}

